<!DOCTYPE html>

<html style="height:100%;">
{% include('base/head/head.html.twig') %}

<body style="height:100%;">

      <div class="container-fluid" style="height:100%; padding:0;">
        {% block content %}
          
        {% endblock %}
      </div>

  {{ include('base/footer/footer.html.twig') }}

</body>

</html>
