<!DOCTYPE html>

<html>


{% include('base/head/head.html.twig') %}

<body>

  {{ include('base/navbar/navbar.html.twig') }}

  <div class="body-wrapper">
    {{ include('base/sidebar/sidebar.html.twig') }}
    <div class="content-wrapper">
      <div class="container-fluid">
        {% block content %}

        {% endblock %}
      </div>
    </div>
  </div>

  {% block footer %}
  {{ include('base/footer/footer.html.twig') }}
  {% endblock %}

</body>

</html>
