@import url("desktop.css");
@import url("mobile.css");

/* UI Elements */

h1, h2, h3, h4, h5 {
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
}

.btn:focus, .btn:active:focus, .btn.active:focus{
    outline:none;
    box-shadow:none;
}

.blue-btn, .blue-btn:hover, .blue-btn:focus
{
    color: #FFF;
    background-color: #5B99CD;
    outline: none;
}

.darkblue-btn, .darkblue-btn:hover, .darkblue-btn:focus
{
    color: #FFF;
    background-color: #153F68;
    outline: none;
}

.red-btn, .red-btn:hover, .red-btn:focus {
    color: #FFF;
    background-color: #F95F62;
    outline: none;
}

.blue-outline-btn,
.blue-outline-btn:hover {
    background-color: inherit;
    border: 1px solid #5B99CD;
    color: #5B99CD;
}

.square-btn {
    border-radius: 0;
}

.fa-margin-right {
  margin-right: 10px;
}

/* Tables */

.table-wrapper {
  margin: 0 auto;
  margin-top:50px;
  max-width: 1000px;
  overflow-x:auto;
}

.table-wrapper > table {
  border-collapse: collapse;
}

.table-wrapper > table > thead {
  background-color: #5B99CD;
  color: #FFF;
  text-align: center;
  font-size: 20px;
}

.table-wrapper > table > tbody {
  text-align: justify;
}

.table-wrapper > table > thead > tr > th,
.table-wrapper > table > tbody > tr > th,
.table-wrapper > table > tbody > tr > td
{
  border: none;
}

.table-wrapper > table > tbody > tr > th,
.table-wrapper > table > tbody > tr > td
{
  padding: 20px 20px;
}

/* Forms */

.form-wrapper form {
  font-family: 'Roboto', sans-serif;
}

.form-wrapper form > p {
  font-family: 'Roboto', sans-serif;
  margin: 0;
  color: #153F68;
}

.form-wrapper form > div {
  padding: 5px 0;
  margin-bottom: 20px;
  width: 100%;
}

.form-wrapper form > div > input {
  width: 100%;
  padding: 5px 5px;
  border: none;
  border-bottom: 0.5px solid #153F68;
  background: #FFF;
  outline: none;
}

.form-wrapper form > div > div > select {
  appearance: none;
  padding: 5px 5px;
  margin-right: 10px;
  border-radius: 0;
  border: none;
  border-bottom: 0.5px solid #153F68;
  background: #FFF;
  outline: none;
  font-family: 'Roboto', sans-serif;
}

.form-wrapper form > div > select {
  width: 100%;
  padding: 5px 5px;
  border-radius: 0;
  border: none;
  border-bottom: 0.5px solid #153F68;
  background: #FFF;
  outline: none;
  font-family: 'Roboto', sans-serif;
}

/* Forms in modals */

.modal-form .modal-header {
  background-color: #153F68;
  color: #FFF;
}

.modal-form form {
  font-family: 'Roboto', sans-serif;
}

.modal-form form > p {
  font-family: 'Roboto', sans-serif;
  margin: 0;
  color: #153F68;
}

.modal-form form > div {
  padding: 5px 0;
  margin-bottom: 20px;
  width: 100%;
}

.modal-form form > div > input {
  width: 100%;
  padding: 5px 5px;
  border: none;
  border-bottom: 0.5px solid #153F68;
  background: #FFF;
  outline: none;
}

.modal-form form > div > div > select {
  appearance: none;
  padding: 5px 5px;
  margin-right: 10px;
  border-radius: 0;
  border: none;
  border-bottom: 0.5px solid #153F68;
  background: #FFF;
  outline: none;
  font-family: 'Roboto', sans-serif;
}

.modal-form form > div > select {
  width: 100%;
  padding: 5px 5px;
  border-radius: 0;
  border: none;
  border-bottom: 0.5px solid #153F68;
  background: #FFF;
  outline: none;
  font-family: 'Roboto', sans-serif;
}

/* Navbar */

.navbar {
  background-color: #F0F1F5;
}

.navbar > button {
  margin-right: 20px;
  background: none;
  border: none;
  outline: none;
}

/* Body Wrapper */

.body-wrapper {
  padding-top: 58px;
}

.body-wrapper.toggled {
  padding-left: 20px;
}

/* Content Wrapper */

.content-wrapper {
  width: 100%;
  position: absolute;
  padding: 15px;
}

.body-wrapper.toggled .content-wrapper {
  position: absolute;
  margin-right: -250px;
}

/* Sidebar */

.sidebar-wrapper {
  z-index: 1000;
  position: fixed;
  left: 250px;
  width: 0;
  height: 100%;
  margin-left: -250px;
  overflow-y: auto;
  background: #153F68;
  transition: all 0.5s ease;
}

.body-wrapper.toggled .sidebar-wrapper {
  width: 250px;
  box-shadow: 9px 0px 10px -6px rgba(0,0,0,0.50);
}

/* Sidebar Styles */

.sidebar-user-profile {
  padding-top: 30px;
  padding-bottom: 50px;
  color: #FFF;
}

.sidebar-user-picture {
  background-size: cover;
  background-position: center;
  height: 100px;
  width: 100px;
  border: 1px solid #FFF;
  border-radius: 50%;
  margin: 0 auto;
  margin-bottom: 20px;
}

.sidebar-user-name {
  font-family: 'Roboto', sans-serif;
  text-align: center;
  margin: 0;
  font-size: 18px;
  font-weight: bold;
}

.sidebar-user-role {
  font-family: 'Roboto', sans-serif;
  text-align: center;
  margin:0;
}

.sidebar-nav {
  position: absolute;
  width: 250px;
  margin: 0;
  padding: 0;
  list-style: none;
}

.sidebar-nav li {
  text-indent: 10px;
  line-height: 50px;
}

.sidebar-nav li a {
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  display: block;
  text-decoration: none;
  color: #FFF;
  font-size: 16px;
}

.sidebar-nav li a:hover {
  text-decoration: none;
  color: #fff;
  background: rgba(255, 255, 255, 0.1);
}

.sidebar-nav li a:active, .sidebar-nav li a:focus {
  text-decoration: none;
}

.sidebar-nav li a i {
  margin-right: 10px;
}

.sidebar-user-account {
  margin-top: 20px;
  width: 100%;
}

/* LOGIN PAGE */

.login-form-wrapper {
  background-color: #153F68;
  height: 100%;
  width: 100%;
  margin: 0;
  padding:0;
  overflow: auto;
}

.login-form {
  background-color: #FFF;
  position:relative;
  max-width:500px;
  margin: 0 auto;
  padding: 20px;
  box-shadow: 4px 2px 15px 0px rgba(0, 0, 0, 0.5);
}

.login-form-logo {
  background-position: center;
  background-repeat: no-repeat;
  background-size:contain;
  height: 100px;
  margin: 20px 0 30px 0;
}

.login-form-title {
  color: #153F68;
  margin-bottom: 30px;
}

.login-form-flash {
  max-width: 400px;
  padding: 10px;
  border-radius: 5px;
  margin: 0 auto;
  margin-bottom: 20px;
}

.login-form-flash > i { font-size: 18px; margin: 0 10px; }

.login-form > form {
  max-width: 400px;
  margin:0 auto;
}

.login-form-item {
  padding-bottom: 20px;
}

.login-form-item > input {
  padding: 0;
  width: 100%;
  height: 40px;
  padding: 10px;
  border: none;
  border-bottom: 1px solid #153F68;
  outline: none;
}

.login-form-item > button {
  margin-top: 10px;
  margin-left: 34%;
}

/* USER ACCOUNT PAGE */

.user-profile
{
  margin-top: 50px;
  width: 100%;
}

.user-profile-banner
{
  background-color: #153F68;
  color: #FFF;
  padding:20px;
  display: inline-flex;
  width: 100%;
}

.user-profile-picture
{
  height: 100%;
  margin-right: 20px;
}

.user-profile-picture > img
{
  height: 100px;
  width: 100px;
  border: 1px solid #FFF;
  border-radius: 50%;
}

.user-profile-banner > div > button {
  margin-bottom: 5px;
  margin-top: 20px;
}

.user-profile-details {
  padding: 20px;
}

/* REGISTER PAGE */

/* MEDICAMENTS LIST */

.products-list {
  margin-top: 30px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.products-list .list-item
{
  width: auto;
  border:1px solid #F0F1F5;
  margin: 10px 20px;
  box-shadow: 2px 2px 25px -11px rgba(0,0,0,0.75);
}


.products-list .list-item-thumbnail {
  width: 200px;
  height: 200px;
  background-position: center;
  background-size: contain;
  margin: 20px;
}

.products-list .list-item-footer {
    padding: 10px 20px;
    background-color: #F0F1F5;
}

.products-list .list-item-action {
    text-align: center;
}

.products-list .list-item-details {

}

.products-list .list-item-price {
  color: #153F68;
}

.products-list .dropdown-menu {
    box-shadow: 5px 5px 25px -11px rgba(0,0,0,0.75);
}

.product-details-modal {

}

.product-details-modal .modal-header {
  background-color: #153F68;
  color: #FFF;
}

.product-details-modal .single-product-thumbnail {
  width: 200px;
  height: 200px;
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  margin: 0 auto;
}

.product-details-modal .single-product-details {

}
