
{% set page_title = 'Liste des médicaments' %}

{% extends 'base/base.html.twig' %}

{% block content %}

<h2>Liste des medicaments</h2>

<div class="medicaments-list">
  <table class="table table-striped">
    <thead>
      <tr>
        <th>ID</th>
        <th>Nom</th>
        <th>Description</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      {% for product in products %}
      <tr>
        <th scope="row">{{ product.id }}</th>
        <td>{{ product.name }}</td>
        <td>{{ product.description }}</td>
        <td><a href="{{ url('product_detail', { 'id': product.id }) }}" class="btn">Details</a></td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>

{% endblock %}
