{% set page_title = 'Mon compte' %}

{% extends 'base/base.html.twig' %}

{% block content %}

  <h2>Mon compte</h2>

  <div class="user-account">
    <div class="user-account-banner">
      <img src="{{ asset('media/img/default-user-picture.jpg') }}">
      <div>
        <h3>{{ app.user.firstname }} {{ app.user.lastname }}</h3>
        <a class="btn blue-btn square-btn" href="#">Editer le profil</a>
        <a class="btn red-btn square-btn" href="#">Se déconnecter</a>
      </div>
    </div>
  </div>

{% endblock %}
